.booking-form{
    background-color: gray;


    form{
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 20px;
    }

    .form-home input{
        height: 57px;
        width: 344px;
        border: 2px solid $site-blue;
    }
    
}